div:deep(.fc) {
  --fc-border-color: #888;
  --fc-neutral-bg-color: #222;
  --fc-page-bg-color: theme('colors.dark.500');

  :global(.fc-daygrid-day-top) {
    @apply text-sm text-gray-500 justify-center;
  }
  :global(.fc-event) {
    align-items: first baseline;
    max-width: 80%;
  }
  :global(.fc-event-title),
  :global(.fc-col-header-cell) {
    @apply !font-normal;
    white-space: normal !important;
  }
  :global(.fc-col-header-cell) {
    @apply text-gray-500;
  }
  :global(.fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number) {
    @apply rounded-full flex bg-pink-900 h-24px text-white w-24px justify-center items-center;
  }
  :global(.fc-col-header-cell.fc-day.fc-day-today) {
    @apply flex text-pink-500 justify-center items-center;
  }
  :global(.fc-daygrid-day.fc-day-today),
  :global(.fc-timegrid-col.fc-day-today) {
    background-color: unset !important;
  }

  :global(.extended-opening) {
    background: repeating-linear-gradient(
      -55deg,
      rgba(24, 24, 24, 0.2),
      rgba(24, 24, 24, 0.2) 10px,
      rgba(236, 72, 153, 0.1) 10px,
      rgba(236, 72, 153, 0.1) 20px
    );
    box-shadow: none;
    border: none;
  }
}
