.btn-focus-ring {
  @apply focus:outline-none focus-visible:ring-white focus-visible:ring-2 focus-visible:ring-opacity-75;
}

.content h1 {
  @apply font-light text-3xl;
}
.content p:not(:last-of-type) {
  @apply mb-5;
}
.content p {
  @apply font-light leading-relaxed;
}


:root {
  --fc-border-color: #888;
  --fc-neutral-bg-color: #222;
}

.fc .fc-daygrid-day-top {
  @apply text-sm text-gray-500 justify-center;
}
.fc-event-title, .fc-col-header-cell {
  @apply !font-normal;
}
.fc-col-header-cell {
  @apply text-gray-500;
}
.fc .fc-day-today .fc-daygrid-day-top{
  @apply pt-0.5;
}
.fc .fc-day-today .fc-daygrid-day-top .fc-daygrid-day-number {
  @apply rounded-full flex bg-pink-900 h-24px text-white w-24px justify-center items-center;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: unset !important;
}