body {
  background: theme('colors.dark.500');
  font-size: 14px;
}

.btn-focus-ring {
  @apply focus:outline-none focus-visible:ring-white focus-visible:ring-2 focus-visible:ring-opacity-75;
}

.btn-hero {
  @apply rounded-full flex font-semibold border-2 border-gray-200 text-sm py-1.5 pr-4 pl-4 transition ease-in duration-200 items-center relative sm:text-base hover:(bg-gray-200 text-black) focus:outline-none active:top-0.5 focus-visible:(bg-gray-200 text-black) ;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  h1 {
    @apply font-light text-3xl;
  }
  h2 {
    @apply font-light text-2xl;
  }
  h3 {
    @apply font-light text-xl;
  }
  p,
  ul,
  ol {
    @apply mb-5;
  }
  p,
  li {
    @apply font-light leading-relaxed;
  }
  ul li {
    list-style: none;
    position: relative;
  }
  ul li:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -24px;
    width: 32px;
    height: 32px;
    background: no-repeat url('../assets/icons/buttplug.svg');
  }
  br {
    content: '';
    @apply mt-2 block;
  }
}

svg.icon-shadow {
  filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.4));
}

.scrollbar-hidden {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.scrollbar-hidden::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
