body {
  background: theme('colors.dark.500');
  font-size: 14px;
}

.btn-focus-ring {
  @apply focus:outline-none focus-visible:ring-white focus-visible:ring-2 focus-visible:ring-opacity-75;
}

.btn-hero {
  @apply rounded-full flex font-semibold border-2 border-gray-200 text-sm py-1.5 pr-4 pl-4 transition ease-in duration-200 items-center relative sm:text-base hover:(bg-gray-200 text-black) focus:outline-none active:top-0.5 focus-visible:(bg-gray-200 text-black) ;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  h1 {
    @apply font-light text-3xl;
  }
  h2 {
    @apply font-light text-3xl;
  }
  p:not(:last-of-type) {
    @apply mb-5;
  }
  p {
    @apply font-light leading-relaxed;
  }
}

svg.icon-shadow {
  filter: drop-shadow(2px 3px 1px rgb(0 0 0 / 0.4));
}
